.FAS-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}

.filter-container{
    display: flex;
    flex-direction: row;
}
.search-container{
    display: flex;
    flex-direction: row;
}
.filter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.container-1{
    display: flex;;
    flex-direction: column;
    gap: 5px 0px;
    align-items: start;
    padding-left:20px ;
}
.container-2{
    display: flex;;
    flex-direction: column;
    gap: 5px 0px;
    align-items: start;
    padding-right:10px ;

}
button{
    text-decoration: none;
    border: none;
    background-color: inherit;
}
.filter-label{
    display: flex;
    flex-direction: row;
}
