.home-containers{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 80px;
    /* overflow: scroll; */
}

.events-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 425px){
    .home-container{
        margin-left: 50px;
        margin-right: 50px;
    }
}