@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@500;600&family=Open+Sans:wght@500&family=Sofia+Sans:wght@500&display=swap');
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  font-family: 'Big Shoulders Inline Display', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Sofia Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
